.main {
  margin: 2rem;
}

.form {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.todo-form {
  padding: 2rem 1rem;
  border: 2px dashed #ccc;
  display: grid;
  justify-items: center;
  row-gap: 1rem;
  text-align: left;
}

button {
  border: none;
  min-width: 6rem;
  height: 3rem;
  background-color: rgb(152, 240, 0);
  border-radius: 50px;
  transition: all 0.2s ease-in-out;
}

button:hover {
  transform: scale(1.1);
  background-color: rgb(181, 253, 55);
}

input {
  padding: 0.3rem;
}

.todos {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 20rem;
}

.todo {
  border: 2px solid #f0f0f0;
  padding: 1rem;
  margin-top: 2rem;
  margin-bottom: 1rem;
  min-width: 25rem;
  transition: all 0.3s ease;
}

.todo:hover {
  box-shadow: 2px 2px 30px #ccc;
  border: 2px solid #a7a7a7;
}

.todo > button {
  float: right;
  background-color: rgb(255, 32, 32);
  height: 1.5rem;
  min-width: 3rem;
  padding: 2;
  color: white;
}
